<h1>Products#index</h1>

<%= form_with(url: "/products", method: "post") do %>
  <%= label_tag(:asin, "Asin") %>
  <%= text_field_tag(:asin) %>
  <%= submit_tag("Submit") %>
<% end %>

<table style="width:100%">
  <tr>
    <th>Title</th>
    <th>Rank</th>
    <th>Category</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.rank %></td>
      <td><%= product.category %></td>
    </tr>
  <% end %>
</table>
