
<div class="screen-wrap">
  <div class="topnav">
    <a class="active" href="#home">Amazon ASIN Product Finder</a>
    <div class="search-container">
      <%= form_with(url: "/products", method: "post") do %>
        <%= text_field_tag(:asin, nil, placeholder: "Search..") %>
        <%= submit_tag("Submit ASIN") %>
      <% end %>
    </div>
  </div>
  <div>
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert"><%= flash[:alert] %></div>
    <% end %>
  </div>
  <table class="product-table">
    <tr>
      <th class="table-title" colspan="6">Product List</th>
    </tr>
    <tr>
      <th class="column-title">Title</th>
      <th class="column-title">Rank</th>
      <th class="column-title">Category</th>
      <th class="column-title">Dimensions</th>
    </tr>
    <% @products.each do |product| %>
      <tr>
        <td class=<%=cell_klass(product)%>><%= product.title %></td>
        <td class=<%=cell_klass(product)%>><%= product.rank %></td>
        <td class=<%=cell_klass(product)%>><%= product.category %></td>
        <td class=<%=cell_klass(product)%>><%= product.dimensions %></td>
      </tr>
    <% end %>
  </table>
</div>
